.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__burger {
    width: 30px;
  }

  &__profile {
    margin-left: auto;
    width: 30px;
    height: 30px;

    &_active {
      color: var(--info-color);
    }
  }
}
