:root {
  --background-color: #f3f5f9;

  --black-color: #0a0a0b;

  --main-color: #5260e6;
  --main-complementary-color: #4e49e4;

  --success-color: #12b76a;
  --success-complementary-color: #ecfdf3;

  --warning-color: #f79009;
  --warning-complementary-color: #fffaeb;

  --info-color: #1078e6;
  --info-complementary-color: #eff8ff;

  --error-color: #f04438;
  --error-complementary-color: #ff786f;

  --border-radius: 16px;
}
