@use 'reset';
@use 'variables';
@use 'scroll';
@use 'mixins';
@use 'typography';
@use 'tailwindcss';

html {
  height: 100vh;
}

body {
  width: 100%;
  height: 100vh;

  font-family: 'Nekst', Arial, sans-serif;
  background: #2c2c2c;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.hidden {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
